name: Test Dice dependants against the current branch
on:
  push:
    branches:
    - main
    tags:
    - '**'
  pull_request:

env:
  OWNER: open-s4c

jobs:
  run-dependant-actions:
    strategy:
      fail-fast: false
      matrix:
        dependant: [dice-rs]
    runs-on: ubuntu-latest
    permissions:
      checks: write
    env:
      COMMIT: ${{ github.event.pull_request.head.sha || github.event.push.head_commit.id }}
    steps:
      - name: Check if COMMIT is available
        run: |
          if [ -z "${{ env.COMMIT }}" ]; then
            echo "Error: COMMIT not found. This workflow only supports push or pull_request events." >&2
            exit 1
          fi
        shell: bash
      - name: Set CHECK_NAME
        id: set-check-name
        run: |
          echo "CHECK_NAME=${{ matrix.dependant }}-${{ env.COMMIT }}-${{ github.run_attempt }}" >> $GITHUB_ENV
      - name: Trigger ${{ matrix.dependant }} workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          repository: ${{ env.OWNER }}/${{ matrix.dependant }}
          event-type: test-dice
          client-payload: >
            {
              "sha": "${{ github.sha }}",
              "commit": "${{ env.COMMIT }}",
              "check_name": "${{ env.CHECK_NAME }}"
            }
      - name: Create empty check
        uses: LouisBrunner/checks-action@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: ${{ env.CHECK_NAME }}
          status: in_progress
      - name: Wait for ${{ matrix.dependant }} result
        uses: lewagon/wait-on-check-action@v1.4.1
        with:
          ref: ${{ env.COMMIT }}
          check-name: ${{ env.CHECK_NAME }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allowed-conclusions: success,skipped,failure,cancelled
          wait-interval: 10
