name: Performance regression tests
on:
  push:
    branches:
      - "!main"
  pull_request:

env:
  REGISTRY: ghcr.io

jobs:
  test-linux-x86:
    if: true
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04, ubuntu-24.04-arm, ubuntu-22.04-arm]
        cc: [ "gcc", "clang" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Get compiler version
        run: ${{ matrix.cc }} --version
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Ensure main was fetched
        run: git fetch --depth 1 origin main:main
      - name: Configure benchmark with HEAD
        run: cmake -Bbuild
             -DCMAKE_C_COMPILER=${{ matrix.cc }}
             -DCMAKE_BUILD_TYPE=Release

      - name: Build benchmark with HEAD
        run: cmake --build build -t micro3 -t micro4

      - name: Run micro3 regression test
        run: scripts/regression.sh
             -c ${{ matrix.cc }}
             -b micro3
             -t HEAD -t main
             run sum
      - name: Show micro3 results
        run: cat results.csv
      - name: Ensure HEAD is not slower than main on micro3
        run: scripts/regression.sh check HEAD

      - name: Run micro4 regression test
        run: scripts/regression.sh
             -c ${{ matrix.cc }}
             -b micro4
             -t HEAD -t main
             run sum
      - name: Show micro4 results
        run: cat results.csv
      - name: Ensure HEAD is not slower than main on micro4
        run: scripts/regression.sh check HEAD

      - run: cd work-HEAD-${{ matrix.cc }} && git rev-parse --short HEAD
      - run: cd work-main-${{ matrix.cc }} && git rev-parse --short HEAD
